<!DOCTYPE html>
<html lang="pt-br">
    <!-- A tag ejs <%- %>, mostra que dentro deste campo vai ser executado uma função ejs -->
    <%- include('../partials/head'); %>

    <body class="container">
        <%- include('../partials/header'); %>
        <main>
            <div class="jumbotron jumbotron-fluid">
                <h1>Node com EJS</h1>
                <p>Vamos aprender a trabalhar com arquivos EJS</p>
                <%- include('../partials/qualitys'), {qualityItems: qualitys}%> 
                <!-- passando o array de qualidades para o partial qualitys.ejs -->
            </div>
        </main>
        <%- include('../partials/footer'); %>
    </body>
</html>